.footer {
    padding: 2rem 0;
    background-image: linear-gradient(
      106.1deg,
      rgba(69, 242, 143, 0.52) 10.2%,
      rgba(14, 228, 175, 0.61) 83.6%
    );
  }
  #suggest {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .suggest {
    display: flex;
    flex-direction: column;
    
  }
  .suggest .router_icon{
    color: #1995AD;
    text-decoration: none;
  }
  
  
  .info {
    display: flex;
    flex-direction: column;
  }
  .info a {
    
    text-decoration: none;
    color: black;
    padding: 0.5rem 0;
  }
  .info a:hover,.info a:active{
    transform: scale(1.1);
    transition: 0.2 ease;
  }
  .fallow {
    text-align: center;
  }
  .social-media {
    margin-top: 1rem;
    text-align: center;
  }
  
  
  #footer-link{
    text-decoration: none;
    margin: 0.5rem;
  }
  
  
  @media screen and (min-width:320px) and (max-width:426px) {
    body{
      font-size: 1rem;
    }
    #suggest{
      flex-direction: column;
      padding: 1rem;
    }
    .info {
      text-align: center;
    }
    .support p{
      text-align: center;
    }
  }
  
  
  @media screen and (min-width:427px) and (max-width:768px){
  #suggest{
    padding: 1rem;
  }
  }