* {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main-div {
  padding: 0.5rem 0rem ;
}








.main-div {
  width: calc(100% - 60px);
  margin-left: 60px;
  padding: 0;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.main-div>h3{
  margin-left: 0.5rem;
}
.main-div>h6{
  text-align: center;
  margin-bottom: 0.5rem;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.welcome {
  padding: 2rem;
}
.trail {
  padding: 0 1rem;
}

.outer {
  display: flex;
  overflow: auto;
  margin-bottom: 0.5rem ;
}

.wrapper {
  padding: 0.5rem;
  width: 150px;
  height: 220px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.outer::-webkit-scrollbar {
  display: none;
}
.card {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.card button {
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 0 0.5rem;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(85%);
}
.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card p {
  margin: 1rem 0;
}

.card button:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}
.descriptions .name {
  margin-bottom: 0.5rem;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f3640;
  border-radius: 50px;
  margin: 0 0.7rem;
  position: relative;
  width: 50%;

  left: 50%;
  transform: translate(-50%);
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1995ad;
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;

  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  width: 90%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 1rem;
}
.details {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.details-img {
}
.details-img img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  margin: 2rem;
  border-radius: 2rem;
  /* margin-right: 4rem; */
}
.details-img img:hover,
.details-img img:active {
  box-shadow: 0px 0px 20px;
}
.details-content {
  /* filter: grayscale(0.5); */
  color: #ffffff;
  padding: 2rem;
  backdrop-filter: blur(2px);
}
.votescore {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.rating-icons {
  margin-top: 1rem;
  font-size: 25px;
  margin-right: 0.8rem;
  padding: 0.4rem;
  border: 2px solid;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
.rating-icons:hover,
.rating-icons:active {
  transform: scale(1.1);
  transition: ease 0.1s;
}
#trailer {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .wrapper {
    padding: 0.5rem;
    width: 120px;
    height: 185px;
  }
  .card p {
    margin: 0.5rem 0;
  }
  .card button{
    font-size: 1rem;
    padding: 0.4rem;
  }
  .searchBox {
    width: 90%;
    margin-left: 0;
  }
  p {
    font-size: 1rem;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .details-img img {
    border-radius: 1rem;
    height: 200px;
    width: 150px;
    object-fit: cover;
    margin: 1rem;
  }
  .details-content {
    padding: 1rem;
    backdrop-filter: blur(2px);
  }
  .content-p {
    font-size: 0.7rem;
  }

  .descriptions p{
    font-size: 0.9rem;
  }
  .name+p{
    padding-top: 0.5rem;
   }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .searchBox {
    width: 90%;
    margin-left: 0;
  }
  p {
    font-size: 1rem;
  }
  .content-p {
    font-size: 1rem;
  }
  .wrapper {
    padding: 0.5rem;
    width: 140px;
    height: 220px;
  }
  .descriptions>p{
    font-size: 1rem;
    padding: 0;
    margin: 0.3rem;
  }
  .name+p{
    padding-top: 0.1rem;margin-bottom: 0.3rem;
   }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
